<footer class="bd-footer bg-body-tertiary">
    <hr>
    <div class="container text-body-tertiary">
        <!-- <div class="row">
            <div class="col-12 col-lg-4 mb-3">
                <h3>cleffah</h3>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/about">About</a>
                    </li>
                    <li class="mb-2">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <h5>Links 2</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/about">About</a>
                    </li>
                    <li class="mb-2">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</footer>